body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9D002F;
    color: white;
    font-family: Arial, sans-serif;
}
.logout-container {
    text-align: center;
}
.logout-message {
    margin-bottom: 20px;
}
.logout-buttons {
    display: flex;
    justify-content: center;
}
.logout-button {
    background-color: white;
    color: #9D002F;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
.logout-button:hover {
    background-color: #E0E0E0;
}